<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<title>
Inscripción de Materias - NovaSISS
</title>


<style>

body{

font-family:Arial;
background:#f7f8ff;
padding:40px;

}


.contenedor{

background:white;
padding:30px;
border-radius:20px;
width:80%;
margin:auto;

}



h1{

color:#24479c;

}



table{

width:100%;
border-collapse:collapse;

}



th{

background:#24479c;
color:white;
padding:12px;

}



td{

padding:12px;
border:1px solid #ddd;

}



button{

background:#24479c;
color:white;
border:none;
padding:12px 20px;
border-radius:10px;

}



</style>


</head>


<body>


<div class="contenedor">


<h1>
📝 Inscripción de Materias
</h1>



<table>


<tr>

<th>
Materia
</th>


<th>
Docente
</th>


<th>
Grupo
</th>


<th>
Acción
</th>


</tr>



{% if grupo %}



<tr>


<td>

{{ grupo.id_materia.nombre }}

</td>



<td>

{{ grupo.id_docente.nombres }}

{{ grupo.id_docente.apellidos }}

</td>



<td>

Grupo {{ grupo.id_grupo }}

</td>



<td>


<a href="/confirmar-inscripcion/">


<button>

Confirmar

</button>


</a>



</td>


</tr>



{% else %}



<tr>

<td colspan="4">

No seleccionaste ninguna materia

</td>


</tr>


{% endif %}



</table>



</div>



</body>


</html>